<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <app-back-navigation></app-back-navigation>
  </div>
  <div class="govuk-grid-column-one-half">
    <app-checklist-steps></app-checklist-steps>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{localeResources.AboutYou}}</h1>

    <form [formGroup]="abilityForm" class="govuk-form-group" (ngSubmit)="continue()">

      <div [ngClass]="abilityForm.invalid && abilityCheck ? 'govuk-form-group--error' : 'govuk-form-group'">
        <fieldset class="govuk-fieldset" aria-describedby="ability-hint ability-error">
          <div *ngIf="abilityForm.invalid && abilityCheck">
            <span id="ability-error" class="govuk-error-message">
              {{localeResources.PleaseAnswerThisQuestion}}
            </span>
          </div>

          <p class="govuk-body govuk-!-margin-bottom-6">
            {{localeResources.IsThereAnything}}
          </p>

          <p class="govuk-body govuk-!-margin-bottom-1">
            {{localeResources.ForExample.Heading}}
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>{{localeResources.ForExample.Example1}}</li>
            <li>{{localeResources.ForExample.Example2}}</li>
            <li>{{localeResources.ForExample.Example3}}</li>
          </ul>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset fieldset-margin">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ability_yes" name="ability" type="radio" value="Yes"
                    formControlName="ability">
                  <label class="govuk-label govuk-radios__label" for="ability-yes">
                    <strong>{{localeResources.Yes}}</strong>
                  </label>

                  <div class="form-group textarea-top-margin" *ngIf="selectedAnswer === 'Yes'" [ngClass]="abilityForm.invalid && abilityCheck && !ProvideMoreInfo ? 'govuk-form-group--error' : 'govuk-form-group'">
                    <div>
                      <span id="ability-error" [ngClass]="abilityForm.invalid && abilityCheck && !ProvideMoreInfo ? 'govuk-error-message' : 'govuk-hint'">
                        {{localeResources.ProvideMoreInfo}}
                      </span>
                    </div>
                    <textarea class="txtMore vh-text-width" id="moreDetails" name="moreDetails" rows="5" cols="80" formControlName="moreDetails"
                      aria-describedby="more-detail-hint" [ngClass]="abilityForm.invalid && abilityCheck && !ProvideMoreInfo ? 'govuk-textarea--error' : 'govuk-textarea'"></textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="ability_no" name="ability" type="radio" value="No"
                    formControlName="ability">
                  <label class="govuk-label govuk-radios__label" for="ability-no">
                    <strong> {{localeResources.No}}</strong>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </fieldset>
      </div>

      <div class="mt-20">
        <input class="govuk-button" type="button" value="{{buttonAction}}" (click)="continue()">
      </div>

    </form>

  </div>
</div>
<app-checklist-footer></app-checklist-footer>
<app-beforeunload></app-beforeunload>
