<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div>
        <h1 class="govuk-heading-l">{{'You\'ve blocked your camera and microphone'|localise}}</h1>
      </div>
      <div>
        <p class="govuk-body" id="message1">{{'We are sorry, you can\'t go any further without using your camera and
          microphone.'|localise}}</p>
        <p class="govuk-body" id="message2">{{'Please call us now or send a message if you need help to change your
          computer settings.'|localise}}</p>
        <p class="govuk-body govuk-!-font-weight-bold" id="message3">{{'Helpline: 0300 303 0655'|localise}}</p>
      </div>
      <app-contact-us></app-contact-us>
   </div>
  </div>
</div>
