<form [formGroup]="form.formGroup" (ngSubmit)="form.submit()">
  <div id="form-container"
    [ngClass]="form.isFormInvalid && !form.isTextInputInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
    <div class="govuk-fieldset">
      <div *ngIf="form.isFormInvalid && !form.isTextInputInvalid">
        <span class="govuk-error-message" i18n="@@choiceTextbox_span_1">
          Please answer this question
        </span>
      </div>

      <ng-content></ng-content>

      <div class="govuk-form-group">
        <div class="govuk-fieldset fieldset-margin">
          <div class="govuk-radios">

            <div class="govuk-radios__item">
              <input formControlName="choice" class="govuk-radios__input" id="choice-yes" type="radio"
                [value]="true">
              <label class="govuk-label govuk-radios__label" for="choice-yes" i18n="@@choiceTextbox_label_1">
                Yes
              </label>
            </div>
            <div [ngClass]="form.isTextInputInvalid ? 'vh-radios__conditional--error' : 'govuk-radios__conditional'">
              <div class="form-group textarea-top-margin" *ngIf="form.choice.value">
                <div>
                  <label for="details-yes" id="details-yes-label" class="govuk-label" i18n="@@choiceTextbox_label_1">
                    {{detailsYesText}}
                  </label>
                  <span class="govuk-hint" i18n="@@choiceTextbox_span_3">
                    {{hintText}}
                  </span>
                  <span *ngIf="form.isTextInputInvalid" class="govuk-error-message" i18n="@@choiceTextbox_span_2">
                    Please complete this section
                  </span>
                  <textarea formControlName="textInput" class="txtMore vh-text-width" id="details-yes" rows="5"
                            cols="80" [ngClass]="form.isTextInputInvalid ? 'govuk-textarea--error' : 'govuk-textarea'"
                            aria-describedby="please-provide-more-detail">
                  </textarea>
                </div>
              </div>
            </div>

            <div class="govuk-radios__item">
              <input formControlName="choice" class="govuk-radios__input" id="choice-no" type="radio"
                [value]="false">
              <label class="govuk-label govuk-radios__label" for="choice-no" i18n="@@choiceTextbox_label_2">
                No
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-20">
    <button class="govuk-button" (click)="form.submit()" i18n="@@choiceTextbox_btn_continue" id="continue"
      type="button">{{buttonText}}</button>
  </div>
</form>
