<div class="govuk-grid-row vh-back-bottom">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<app-crest-blue-panel>
  <h1 class="govuk-heading-xl text-white" i18n="@@differentHearingType_h1_1">Which type of hearing?</h1>
  <p class="govuk-body govuk-!-margin-bottom-6 text-white" i18n="@@differentHearingType_p_1">
    The court or tribunal will decide if it's more suitable for the hearing to take place in person or by video.
  </p>

  <p class="govuk-body govuk-!-margin-bottom-6 text-white" i18n="@@differentHearingType_p_2">
    We need to ask you some questions to help the court decide.
  </p>

  <p class="govuk-body govuk-!-margin-bottom-6 text-white" i18n="@@differentHearingType_p_3">
    Before we ask you the questions, we'll show you what different types of hearing can be like.
  </p>

  <button class="govuk-button govuk-button--secondary" (click)="continue()" i18n="@@journey_btn_continue" id="continue"
    type="button">Continue</button>
</app-crest-blue-panel>
<app-contact-us></app-contact-us>
