<app-crest-blue-panel>
  <h1 class="govuk-heading-l text-white" i18n="@@differentHearingType_h1_1">Which type of court hearing?</h1>
  <p class="govuk-body govuk-!-margin-bottom-6 text-white" i18n="@@differentHearingType_p_1">
    The court will decide if it's more suitable for the hearing to take place in a court building or by video.
  </p>

  <p class="govuk-body govuk-!-margin-bottom-6 text-white" i18n="@@differentHearingType_p_2">
    We need to ask you some questions to help the court decide.
  </p>

  <p class="govuk-body govuk-!-margin-bottom-6 text-white" i18n="@@differentHearingType_p_3">
    Before you answer the questions, we'll show you what the different types of hearing are like.
  </p>

  <button class="govuk-button vh-button-white" (click)="continue()" i18n="@@journey_btn_continue" id="continue"
    type="button">Continue</button>
</app-crest-blue-panel>
<app-contact-us></app-contact-us>