################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ServiceWebsite/ServiceWebsite.Services/obj/Debug/netcoreapp2.2
/ServiceWebsite/ServiceWebsite.Services/obj
/ServiceWebsite/ServiceWebsite.Services/bin/Debug/netcoreapp2.2
/ServiceWebsite/ServiceWebsite.Domain/obj
/ServiceWebsite/ServiceWebsite.Domain/bin/Debug/netcoreapp2.2
/ServiceWebsite/ServiceWebsite.Common/obj
/ServiceWebsite/ServiceWebsite.Common/bin/Debug/netcoreapp2.2
/ServiceWebsite/ServiceWebsite/wwwroot
/ServiceWebsite/.vs/ServiceWebsite/v15/.suo
/ServiceWebsite/.vs
/ServiceWebsite/ServiceWebsite.IntegrationTests/bin/Debug/netcoreapp2.2
/ServiceWebsite/ServiceWebsite.IntegrationTests/obj
/ServiceWebsite/ServiceWebsite.UnitTests/bin/Debug/netcoreapp2.2
/ServiceWebsite/ServiceWebsite.UnitTests/obj
/ServiceWebsite/ServiceWebsite.UserAPI.Client/obj
/ServiceWebsite/ServiceWebsite.UserAPI.Client/bin
/ServiceWebsite/ServiceWebsite.Services/bin
/ServiceWebsite/ServiceWebsite.Services/obj
/ServiceWebsite/ServiceWebsite.Domain/obj
/ServiceWebsite/ServiceWebsite.Domain/bin
/ServiceWebsite/ServiceWebsite.Common/bin
/ServiceWebsite/ServiceWebsite.Common/obj
