<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@questionnaire_already_completed_h1">You have completed the questionnaire</h1>
    <p class="govuk-body" i18n="@@questionnaire_already_completed_p_1">We have already received your answers to the questionnaire and these cannot be changed here.</p>
    <p class="govuk-body" i18n="@@questionnaire_already_completed_p_2">Please contact us if you need help.</p>
    <div>
      <button type="button" i18n="@@questionnaire_already_completed_btn_continue" class="govuk-button" (click)="continue()" id="continue">
        Continue
      </button>
    </div>
  </div>
</div>

<app-contact-us></app-contact-us>
