<div class="govuk-grid-row">
  <div *ngIf="!displayFeed && !didTestComplete" class="govuk-grid-column-full">
    <p class="govuk-body-l" i18n="@@test_your_equipment_p_1">Please wait to be connected...</p>
  </div>
  <div *ngIf="displayFeed" class="govuk-grid-column-full">
    <video i18n="@@test_your_equipment_video_1" *ngIf="streamsActive" id="incomingStream" [srcObject]="this.incomingStream" autoplay width="100%">
      Your browser does not support video
    </video>
  </div>
</div>

<div *ngIf="!didTestComplete" class="govuk-grid-row">

  <div class="govuk-grid-column-one-quarter">
    <video i18n="@@test_your_equipment_video_2" *ngIf="streamsActive" id="outgoingStream" [muted]="true" [srcObject]="this.outgoingStream" autoplay
           width="270" height="auto">
      Your browser does not support video
    </video>
  </div>

  <div class="govuk-grid-column-full">
    <app-mic-visualiser *ngIf="displayFeed && streamsActive && preferredMicrophoneStream"
                        [stream]="preferredMicrophoneStream"></app-mic-visualiser>
  </div>

</div>

<div class="govuk-grid-row govuk-!-margin-top-6">
  <div class="govuk-grid-column-full">
    <p class="govuk-body" i18n="@@test_your_equipment_p_2">
      When the video has ended, answer a few questions to confirm your microphone and camera are working.
    </p>
  </div>
</div>

<div>

  <input type="button" i18n="@@test_your_equipment_btn_next" class="govuk-button govuk-!-margin-right-9" (click)="continue()"
         id="continue-btn" role="button" value="Continue" alt="Continue" />

  <input type="button" i18n="@@test_your_equipment_btn_replay" class="govuk-button grey-btn" (click)="replayVideo()"
         id="replay-video" value="Re-play the video message" alt="Re-play the video message" role="button" />

</div>

<app-contact-us></app-contact-us>
