<details class="govuk-details">
  <summary class="govuk-details__summary" (click)="showDetails()">
    <span class="govuk-details__summary-text" i18n="@@errorFooter_p_1">
      Contact us for help
    </span>
  </summary>
  <div class="govuk-details__text" *ngIf="showTextDetails">
    <p class="govuk-body govuk-!-margin-bottom-0"><strong i18n="@@errorFooter_p_2"> Telephone: </strong></p>
    <p class="govuk-body govuk-!-margin-bottom-0" i18n="@@errorFooter_p_3"> Call us on 0300 303 0655 and quote your reference number </p>
    <span id="telephone-hint" class="govuk-hint" i18n="@@errorFooter_p_4">
      (available between 9am and 5pm, Monday to Friday)
    </span>

    <p class="govuk-body govuk-!-margin-bottom-0"><strong i18n="@@errorFooter_p_5"> Email: </strong></p>
    <p class="govuk-body govuk-!-margin-bottom-0">
      <span i18n="@@errorFooter_p_6"> Email us at </span>
      <a class="govuk-link" href="mailto:{{contactUsEmail}}" target="_blank" data-hsupport="email">{{contactUsEmail}}</a>
    </p>
  </div>
</details>
