<header class="govuk-header " role="banner" data-module="header">
  <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">

      <span class="govuk-header__logotype vh-header-text">
        <img src="/assets/images/UkGovCrestWhite.png" height="32" width="38" class="govuk-header__logotype-crest vh-ml15"
          alt="HMCTS logo crest image" />
        <span class="govuk-header__logotype-text ">
          <span i18n="@@header_logo_1">HM Courts &amp; Tribunals Service</span>
        </span>
      </span>

    </div>
    <div *ngIf="loggedIn" class="vh-sign" >
        <button id="header-logout-link govuk-header__navigation " class="vh-header__link  right-align" href="javascript:void()" (click)="logout()" i18n="@@header_btn_signout">
            Sign out
        </button>
    </div>
  </div>
</header>
