<header class="moj-header" role="banner" data-module="header">

  <div class="moj-header__container">

    <div class="moj-header__logo">

      <app-header-logo-svg></app-header-logo-svg>

      <a class="moj-header__link moj-header__link--organisation-name" [routerLink]="">HM Courts &amp; Tribunals Service</a>

    </div>
    <div class="moj-header__content">

      <nav class="moj-header__navigation" aria-label="Account navigation">

        <ul class="moj-header__navigation-list">

          <li *ngIf="loggedIn" class="moj-header__navigation-item">
            <a id="header-logout-link" class="moj-header__navigation-link" [routerLink]="logoutRoute" >Sign out</a>
          </li>
        </ul>

      </nav>

    </div>
  </div>

</header>
