<div class="govuk-grid-row vh-video-top">
  <div class="govuk-grid-column-one-half vh-video-mp0">
    <app-user-camera-view [videoWidth]="widthVideo" ></app-user-camera-view>
  </div>
  <div class="govuk-grid-column-one-half vh-video-mp0">
    <app-video-view #videoParticipant [source]="videoSourceParticipant" (loaded)="videoParticipantLoaded()"></app-video-view>
  </div>
</div>

<div class="govuk-grid-row vh-top-30">
  <div class="govuk-grid-column-one-quarter vh-video-mp0_left">
    <app-video-view #videoJudge [source]="videoSourceJudge" (loaded)="videoJudgeLoaded()"></app-video-view>
    <div>
      <app-audio-bar [audioBarWidth]="widthAudioBar"></app-audio-bar>
    </div>
    <div>
      <a href="javascript:void()" class="govuk-link">Change camera or microphone</a>
    </div>

  </div>
</div>

<div class="govuk-grid-row vh-top-30 ">
  <div class="govuk-grid-column-full  vh-video-mp0_left">
    <p class="govuk-body">
      When the video has ended, click 'Continue'. You can try the practice video hearing again if you like.
    </p>
  </div>
</div>
<div class="govuk-grid-row vh-top-30 ">
  <div class="govuk-grid-column-full vh-video-mp0_left">
    <button type="submit" class="govuk-button govuk-!-margin-right-1" (click)="continue()">
      Continue
    </button>

    <input type="button" class="govuk-button hmcts-button--secondary"
           (click)="replay()" value="Re-play practice hearing" [disabled]="disabledReplay" />
  </div>
  <app-contact-us></app-contact-us>
</div>
