<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <app-user-camera-view [videoWidth]="widthVideo"></app-user-camera-view>
  </div>
  <div class="govuk-grid-column-one-half">
    <app-video-view [source]="videoSourceParticipant" (loaded)="videoLoaded()"></app-video-view>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <app-video-view [source]="videoSourceJudge" (loaded)="videoLoaded()"></app-video-view>
    <div>
      <app-audio-bar [audioBarWidth]="widthVideo"></app-audio-bar>
    </div>
    <div>
      <a href="javascript:void()" class="govuk-link">Change camera or microphone</a>
    </div>

  </div>
</div>

<div class="govuk-grid-row vh-top-30">
  <div class="govuk-grid-column-full">
    <p class="govuk-body">
      When the video has ended, click 'Continue'. You can try the practice video hearing again if you like.
    </p>
  </div>
</div>
<div class="govuk-grid-row vh-top-30">
  <div class="govuk-grid-column-full">
    <button type="submit" class="govuk-button govuk-!-margin-right-1" (click)="continue()">
      Continue
    </button>

    <input type="button" class="govuk-button hmcts-button--secondary"
           (click)="replay()" value="Re-play practice hearing" />
  </div>
  <app-contact-us></app-contact-us>
</div>
