.vh-video-top {
  background-color: black;
  clear: both;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
}

.vh-video-w{
  width:50%;
}

.vh-mp0 {
  margin: 0;
  padding: 0;
}
