<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@sign_in_on_computer_h1">
      Please sign in on a computer
    </h1>
    <div>
      <p class="govuk-body" i18n="@@sign_in_on_computer_p_1">It looks as though you are using mobile device.</p>
      <p class="govuk-body" i18n="@@sign_in_on_computer_p_2">Please sign back in on the laptop or desktop computer you would use for video hearing.</p>
      <p class="govuk-body" i18n="@@sign_in_on_computer_p_3">When sign in, you cand findout if video hearing would work on your computer. We will show you a short video and ask you 3 questions about how well you could see and hear it.</p>
      <p class="govuk-body" i18n="@@sign_in_on_computer_p_3">Help us avoid delays by signing back in within 7 days. </p>
    </div>

    <app-contact-us></app-contact-us>
  </div>
</div>
