<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@sign_in_on_computer_h1">
      sign-in-on-computer (from Mobile)
    </h1>
    <div>
      <p class="govuk-body" i18n="@@sign_in_on_computer_p_1">We need to check that a video hearing would work on your computer.</p>
      <p class="govuk-body" i18n="@@sign_in_on_computer_p_2">Is this the same computer you would use for video hearing?</p>
    </div>

    <app-contact-us></app-contact-us>
  </div>
</div>
