<div>
  <h1 class="govuk-heading-xl" i18n-value="@@yourInternetConnection_H1">
    Your internet connection
  </h1>
</div>
<div>
  <input class="govuk-button" (click)="yes()" value="yes" i18n-value="@@yourInternetConnection_btn_yes" type="button" />
  <input class="govuk-button" (click)="no()" value="no" i18n-value="@@yourInternetConnection_btn_no" type="button" />
  <br />
  <input class="govuk-button" (click)="continue()" value="Continue" i18n-value="@@yourInternetConnection_btn_continue" type="button" />
</div>
