<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <app-back-navigation></app-back-navigation>
  </div>
  <div class="govuk-grid-column-one-half">
    <app-checklist-steps></app-checklist-steps>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">

    <form [formGroup]="roomAccessForm" class="govuk-form-group" (ngSubmit)="continue()">

      <h1 class="govuk-heading-l">
        {{ isProfessional ? localeResources.SuitableRoom : localeResources.CitizenSuitableRoom.Title }}
      </h1>

      <div [ngClass]="roomAccessForm.invalid && submitted ? 'govuk-form-group--error' : 'govuk-form-group'">
        <fieldset class="govuk-fieldset" aria-describedby="roomAccess-hint roomAccess-error">
          <div *ngIf="roomAccessForm.invalid && submitted">
            <span id="roomAccess-error" class="govuk-error-message">
              {{ localeResources.PleaseAnswerThisQuestion }}
            </span>
          </div>

          <p class="govuk-body govuk-!-margin-bottom-3">
            {{ isProfessional ? localeResources.DayOfHearing : localeResources.CitizenSuitableRoom.Paragraph1 }}
          </p>
          <p class="govuk-body govuk-!-margin-bottom-3">
            {{ isProfessional ? '' : localeResources.CitizenSuitableRoom.Paragraph2 }}
          </p>

          <div *ngIf="isProfessional">
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ localeResources.RoomAccessCheckList1 }}</li>
              <li>{{ localeResources.RoomAccessCheckList2 }}</li>
              <li>{{ localeResources.RoomAccessCheckList3 }}</li>
              <li>{{ localeResources.RoomAccessCheckList4 }}</li>
            </ul>
          </div>
          <div *ngIf="!isProfessional">
            <ul class="govuk-list govuk-list--bullet">
              <li>{{ localeResources.CitizenSuitableRoom.Question1 }}</li>
              <li>{{ localeResources.CitizenSuitableRoom.Question2 }}</li>
              <li>{{ localeResources.CitizenSuitableRoom.Question3 }}</li>
            </ul>
          </div>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset mb-20">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="room-access-1" name="roomAccess" type="radio" value="Yes"
                         formControlName="roomAccess">
                  <label class="govuk-label govuk-radios__label" for="room-access-1">
                    <strong>{{ localeResources.Yes }}</strong>
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="room-access-2" name="roomAccess" type="radio" value="No"
                         formControlName="roomAccess">
                  <label class="govuk-label govuk-radios__label" for="room-access-2">
                    <strong>{{ localeResources.No }}</strong>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </fieldset>
      </div>

      <div class="mt-20">
        
        <div *ngIf="isProfessional">
          <app-show-details [detailsTitle]="localeResources.ChoosingARoom"
                            [textArray]="[localeResources.PrivateRoom, localeResources.SeatingArrangement]">
          </app-show-details>
        </div>
        <div *ngIf="!isProfessional">
          <app-show-details [detailsTitle]="localeResources.ChoosingARoom"
                            [textArray]="[localeResources.CitizenSuitableRoom.ChoosingARoomParagraph]">
          </app-show-details>
        </div>
      </div>

      <input type="button" class="govuk-button" (click)="continue()" value="{{buttonAction}}" />

    </form>

  </div>
</div>
<app-checklist-footer [isUserProfessional]="isProfessional"></app-checklist-footer>
<app-beforeunload></app-beforeunload>
