<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@sign_back_in_rep_h1">
      Please sign in on the computer you would use for a video hearing
    </h1>
    <div>
      <p class="govuk-body" i18n="@@sign_back_in_p_1">You must test your computer to make sure it's suitable for a video
        hearing. Within 5 days, please sign in on the computer you'd use and make sure you complete the checks.</p>
    </div>

    <app-contact-us></app-contact-us>
  </div>
</div>