<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@sign_back_in_rep_h1">
      Sign back in on the computer you would use for a video hearing
    </h1>
    <div>
      <p class="govuk-body" i18n="@@sign_back_in_p_1">Please sign back in on the laptop or desktop computer you would use for a video hearing.</p>
      <p class="govuk-body" i18n="@@sign_back_in_p_2">When Is this the same computer you would use for video hearing?</p>
      <p class="govuk-body" i18n="@@sign_back_in_p_3">Is this the same computer you would use for video hearing?</p>
    </div>

    <app-contact-us></app-contact-us>
  </div>
</div>

