<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <app-back-navigation></app-back-navigation>
    </div>
</div>
<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-xl" i18n="@@sign_back_in_rep_h1">Sign back in on the computer you'd use for a video hearing</h1>
        <div>
            <p class="govuk-body" i18n="@@sign_back_in_p_1">Please sign back in on the computer or iPad you'd use for a video hearing.</p>

            <p class="govuk-body" i18n="@@sign_back_in_p_2">
                When you sign in, you can find out if a video hearing would work on your computer. We'll show you a short video and ask you
                3 questions about how well you could see and hear it.
            </p>

            <p class="govuk-body" i18n="@@sign_back_in_p_3">Help us avoid delays by signing back in within 7 days.</p>
        </div>

        <app-contact-us></app-contact-us>
    </div>
</div>
