<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@aboutYourClient_h1">
      About your client
    </h1>

    <app-hearing-details-header></app-hearing-details-header>

    <app-choice-textbox
      [detailsYesText]="'Please provide any information your client feels comfortable sharing and that you believe may help the court decide which type of hearing will be most suitable.'"
      [suitabilityAnswer]="model.aboutYourClient"
      (submitted)="submit()">

      <p class="govuk-body govuk-!-margin-bottom-5" i18n="@@aboutYourClient_p_1">Is there anything that could affect
        your client's ability to take part in a video hearing?
      </p>

      <p class="govuk-body govuk-!-margin-bottom-4" i18n="@@aboutYourClient_p_2">For example: </p>

      <ul class="govuk-list govuk-list--bullet">
        <li i18n="@@aboutYourClient_ul_li_1">are they hard of hearing or deaf?</li>
        <li i18n="@@aboutYourClient_ul_li_2">are they blind or partially sighted?</li>
        <li i18n="@@aboutYourClient_ul_li_3">do they have mobility issues that make it difficult to travel?</li>
        <li i18n="@@aboutYourClient_ul_li_4">are there any other factors that might make communicating by video
          difficult for your client?</li>
      </ul>
    </app-choice-textbox>
    <app-contact-us></app-contact-us>
  </div>
</div>
