<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@rep_aboutYou_h1">
      About you (the legal representative)
    </h1>
    <div>
      <app-hearing-details-header></app-hearing-details-header>
    </div>
    <app-choice-textbox [suitabilityAnswer]="journey.model.aboutYou" (submitted)="journey.next()">
      <p class="govuk-body govuk-!-margin-bottom-6" i18n="@@rep_aboutYou_p_1">
        Is there anything that could affect your ability to take part in a video hearing?
      </p>

      <p class="govuk-body govuk-!-margin-bottom-1" i18n="@@rep_aboutYou_p_2">
        For example:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li i18n="@@rep_aboutYou_listItem_1">are you hard of hearing or deaf?</li>
        <li i18n="@@rep_aboutYou_listItem_2">are you partially sighted or blind?</li>
        <li i18n="@@rep_aboutYou_listItem_3">are there any other factors that might make communicating by video
          difficult?</li>
      </ul>
    </app-choice-textbox>
    <app-contact-us></app-contact-us>
  </div>
</div>