<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@rep_aboutYou_h1">
      About you (the legal representative)
    </h1>
    <div>
      <app-hearing-details-header></app-hearing-details-header>
    </div>
    <form [formGroup]="form.formGroup" (ngSubmit)="form.submit()">

      <div id="form-container"
        [ngClass]="form.isFormInvalid && !form.isTextInputInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
        <div class="govuk-fieldset">
          <div *ngIf="form.isFormInvalid && !form.isTextInputInvalid">
            <span class="govuk-error-message" i18n="@@rep_aboutYou_span_1">
              Please answer this question
            </span>
          </div>

          <p class="govuk-body govuk-!-margin-bottom-6" i18n="@@rep_aboutYou_p_1">
            Is there anything that could affect your ability to take part in a video hearing?
          </p>

          <p class="govuk-body govuk-!-margin-bottom-1" i18n="@@rep_aboutYou_p_2">
            For example:
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li i18n="@@rep_aboutYou_listItem_1">are you hard of hearing or deaf?</li>
            <li i18n="@@rep_aboutYou_listItem_2">are you partially sighted or blind?</li>
            <li i18n="@@rep_aboutYou_listItem_3">are there any other factors that might make communicating by video
              difficult?</li>
          </ul>

          <div class="govuk-form-group">
            <div class="govuk-fieldset fieldset-margin">
              <div class="govuk-radios">

                <div class="govuk-radios__item">
                  <input formControlName="choice" class="govuk-radios__input" id="choice-yes" type="radio"
                    [value]="true">
                  <label class="govuk-label govuk-radios__label" for="choice-yes" i18n="@@rep_aboutYou_label_1">
                    Yes
                  </label>
                </div>
                <div [ngClass]="form.isTextInputInvalid ? 'vh-radios__conditional--error' : 'govuk-radios__conditional'">
                  <div class="form-group textarea-top-margin" *ngIf="form.choice.value">
                    <div>
                      <span *ngIf="form.isTextInputInvalid" class="govuk-error-message" i18n="@@rep_aboutYou_span_2">
                        Please complete this section
                      </span>
                      <label for="details" id="more-details" class="govuk-label" i18n="@@rep_aboutYou_label_1">
                        Please provide more information
                      </label>
                    </div>
                    <textarea formControlName="textInput" class="txtMore vh-text-width" id="details" rows="5" cols="80"
                      [ngClass]="form.isTextInputInvalid ? 'govuk-textarea--error' : 'govuk-textarea'"
                      aria-describedby="more-details">
                      </textarea>
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input formControlName="choice" class="govuk-radios__input" id="choice-no" type="radio"
                    [value]="false">
                  <label class="govuk-label govuk-radios__label" for="choice-no" i18n="@@rep_aboutYou_label_2">
                    No
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-20">
        <button class="govuk-button" (click)="form.submit()" i18n="@@rep_aboutYou_btn_continue" id="continue"
          type="button">Continue</button>
      </div>
    </form>
    <app-contact-us></app-contact-us>
  </div>
</div>