<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirdsl">
      <div><h1 class="govuk-heading-l">Use your camera and microphone</h1></div>
      <div><p class="govuk-body" id="message1">Switch on your camera and microphone to see the short interactive video.</p>
      </div>
      <details class="govuk-details">
          <summary class="govuk-details__summary" (click)="showDetails()">
              <span class="govuk-details__summary-text"   id="camera-mic-reason">
                   Why do I need to use my camera and microphone?
               </span>
            </summary>
            <div class="govuk-details__text"  *ngIf="showTextDetails">
                <p class="govuk-body">If you switch on your camera and microphone, you’ll be able to see what it’s like to be in a video hearing. Once the video has finished, your camera and microphone will switch off again.</p>
            </div>
      </details>
    </div>
  </div>
</div>