<div class="govuk-grid-row vh-back-bottom">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div *ngIf="!mediaAccepted">
        <div>
          <h1 class="govuk-heading-xl" i18n="@@useCameraMicrophone_h1">
            Use your camera
          </h1>
        </div>
        <div>
          <p class="govuk-body" i18n="@@useCameraMicrophone_p_1">
            Switch on your camera to see the short video.
          </p>
        </div>
        <app-show-details
          i18n-bind-detailsTitle="@@useCameraMicrophon_detailsTitle" bind-detailsTitle="'Why do I need to use my camera?'"
        i18-bind-textArray="@@useCameraMicrophon_textArray" bind-textArray="['If you switch on your camera, you’ll be able to see what it’s like to be in a video hearing. Once the video has finished, your camera will switch off again.']">
        </app-show-details>
        <button type="button" i18n="@@useCameraMicrophone_btn_switchOn" class="govuk-button hmcts-button--primary" (click)="switchOnMedia()" id="switch-on-media">
          Switch on
        </button>
      </div>

      <div *ngIf="mediaAccepted">
        <div>
          <h1 class="govuk-heading-xl" i18n="@@useCameraMicrophone_h1_1">
          Your camera is now switched on
          </h1>
        </div>
        <div>
          <p class="govuk-body" i18n="@@useCameraMicrophone_p_2">
            You're now ready to watch the video.
          </p>
        </div>
        <button type="button" i18n="@@useCameraMicrophone_btn_watchVideo" class="govuk-button hmcts-button--primary" (click)="continue()" id="continue">
          Watch video
        </button>
      </div>
      <app-contact-us>
      </app-contact-us>
    </div>
  </div>

</div>
