<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@aboutYourComputer_h1">
      About your computer
    </h1>

    <div class="mt-20">
      <input class="govuk-button" (click)="yes()" value="yes" type="submit" />
      <input class="govuk-button" (click)="no()" value="no" type="submit" />
      <input class="govuk-button" (click)="notsure()" value="not sure" type="submit" />
      <br />
      <button class="govuk-button" (click)="continue()" i18n="@@aboutYourComputer_btn_continue" id="continue"
        type="button">
        Continue
      </button>
    </div>
  </div>
</div>