
<div>
  <h1 class="vh-hide-h1">Court building video</h1>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-video-view [source]="videoSource" (loaded)="videoLoaded()"></app-video-view>
  </div>
</div>

<div class="govuk-grid-row vh-top-30">
  <div class="govuk-grid-column-full">
    <button type="submit" class="govuk-button govuk-!-margin-right-1" id="continue" (click)="continue()" i18n="@@courtBuildingVideo_btn_journey_continue">
      Continue
    </button>

    <button type="button" class="govuk-button hmcts-button--secondary" id="replay"
            (click)="replay()" i18n="@@courtBuildingVideo_btn_replayTheVideo" [disabled]="disabledReplay">
      Re-play the video
    </button>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <app-contact-us></app-contact-us>
  </div>
</div>
