<app-crest-blue-panel>
  <p class="govuk-body govuk-!-margin-bottom-6 text-white" i18n="@@aboutHearing_p_1">
    Hearings like yours can take place:
  </p>
  <h2 class="govuk-heading-s text-white" i18n="@@aboutHearing_h1_1">In a court building</h2>
  <p class="govuk-body govuk-!-margin-bottom-6 text-white" i18n="@@aboutHearing_p_2">
    At these hearings, all participants gather in the courtroom in front of the judge.
  </p>
  <h2 class="govuk-heading-s text-white" i18n="@@aboutHearing_h2_1">By video</h2>
  <p class="govuk-body govuk-!-margin-bottom-6 text-white" i18n="@@aboutHearing_p_3">
   These hearings allow you to be seen and heard in court without having to travel. All participants,
    including the judge, sit in different locations in front of a computer. They can see and hear each other
    throughout the hearing.
  </p>
  <button type="button" i18n="@@aboutHearing_btn_next" class="govuk-button hmcts-button--secondary" (click)="continue()" id="continue">
    Next
  </button>
</app-crest-blue-panel>
