<app-crest-blue-panel>
  <h1 class="govuk-heading-l text-white" i18n="@@aboutHearing_h1_1">About hearings</h1>
  <p class="govuk-body govuk-!-margin-bottom-2 text-white" i18n="@@aboutHearing_p_1">
    Court hearings like yours can take place in a court building or by video.
  </p>
  <h2 class="govuk-heading-s text-white" i18n="@@aboutHearing_h2_1">In a court building</h2>
  <ul class="govuk-list govuk-list--bullet text-white">
    <li i18n="@@aboutHearing_ul_1_li_1">all participants gather in the courtroom in front of the judge.
    </li>
  </ul>
  <h2 class="govuk-heading-s text-white" i18n="@@aboutHearing_h2_2">By video</h2>
  <ul class="govuk-list govuk-list--bullet text-white">
    <li i18n="@@aboutHearing_ul_2_li_1">all participants, including the judge, take part from different locations using
      a computer. They can see and hear each other throughout the hearing.
    </li>
  </ul>
  <button type="button" i18n="@@aboutHearing_btn_next" class="govuk-button vh-button-white" (click)="continue()"
    id="continue">
    Next
  </button>
</app-crest-blue-panel>
<app-contact-us></app-contact-us>