<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <app-back-navigation></app-back-navigation>
  </div>
  <div class="govuk-grid-column-one-half">
    <app-checklist-steps></app-checklist-steps>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{ localeResources.OtherInformation.Title }}</h1>
    <form [formGroup]="otherInfoForm" class="govuk-form-group" (ngSubmit)="continue()">

      <p class="govuk-body govuk-!-margin-bottom-3">
        {{ localeResources.OtherInformation.Question }}
      </p>

      <p class="govuk-body govuk-!-margin-bottom-3">
        {{ localeResources.OtherInformation.Answer }}
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>{{ localeResources.OtherInformation.Answer1 }}</li>
        <li>{{ localeResources.OtherInformation.Answer2 }}</li>
      </ul>

      <div class="govuk-form-group">
        <span id="more-detail-hint" class="govuk-hint">
          {{ localeResources.OtherInformation.Hint }}
        </span>
        <textarea class="govuk-textarea" id="otherInfo" name="otherInfo" rows="5" formControlName="otherInfo"
          aria-describedby="more-detail-hint"></textarea>
      </div>

      <div class="mt-20">
        <input class="govuk-button" type="button" value="{{ buttonAction }}" (click)="continue()">
      </div>

    </form>
  </div>
</div>
<app-checklist-footer></app-checklist-footer>
<app-beforeunload></app-beforeunload>