<div>
  <h1 class="govuk-heading-xl" i18n="@@microphone_working_h1">
    Same Computer
  </h1>
</div>
<form [formGroup]="form" (ngSubmit)="continue()">
  <div id="form-container" class="govuk-form-group" [ngClass]="isFormInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">

    <span id="error-message" class="govuk-error-message" *ngIf="isFormInvalid" i18n="@@microphone_working_span_1">
      Please answer this question
    </span>

    <div>
      <p class="govuk-body" i18n="@@microphone_working_p_1">microphone_working</p>
      <p class="govuk-body" i18n="@@microphone_working_p_2">microphone_working</p>
    </div>

    <div class="govuk-fieldset">
      <div class="govuk-radios" data-module="radios">
        <div class="govuk-radios__item">
          <input formControlName="choice" class="govuk-radios__input" id="choice-yes" type="radio" [value]="true"
                 data-aria-controls="conditional-how-contacted-conditional">
          <label class="govuk-label govuk-radios__label" for="choice-yes" i18n="@@microphone_working_choice_yes">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
          <input formControlName="choice" class="govuk-radios__input" id="choice-no" type="radio" [value]="false"
                 data-aria-controls="conditional-how-contacted">
          <label class="govuk-label govuk-radios__label" for="choice-no" i18n="@@microphone_working_choice_no">
            No
          </label>
        </div>

      </div>
    </div>
  </div>
  <app-show-details i18n-bind-detailsTitle="@@microphone_working_detailsTitle" bind-detailsTitle="'microphone_working'"
                    i18-bind-textArray="@@microphone_working_textArray" bind-textArray="['microphone_working']">
  </app-show-details>

  <button class="govuk-button" (click)="continue()" i18n="@@microphone_working_btn_continue" id="continue" type="button">Continue</button>
</form>

<app-contact-us></app-contact-us>
