<div class="govuk-grid-row vh-back-bottom">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<div>
  <h1 class="govuk-heading-xl" i18n="@@camera_working_h1">
    Was your camera working?
  </h1>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div id="form-container" class="govuk-form-group" [ngClass]="isFormInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">

    <span id="error-message" class="govuk-error-message" *ngIf="isFormInvalid" i18n="@@camera_working_span_1">
      Please answer this question
    </span>

    <div>
      <p class="govuk-body" i18n="@@camera_working_p_2">Could you see yourself on the screen in the camera window?</p>
    </div>

    <div class="govuk-fieldset">
      <div class="govuk-radios" data-module="radios">
        <div class="govuk-radios__item">
          <input formControlName="choice" class="govuk-radios__input" id="choice-yes" type="radio" [value]="true"
                 data-aria-controls="conditional-how-contacted-conditional">
          <label class="govuk-label govuk-radios__label" for="choice-yes" i18n="@@camera_working_choice_yes">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
          <input formControlName="choice" class="govuk-radios__input" id="choice-no" type="radio" [value]="false"
                 data-aria-controls="conditional-how-contacted">
          <label class="govuk-label govuk-radios__label" for="choice-no" i18n="@@camera_working_choice_no">
            No
          </label>
        </div>

      </div>
    </div>
  </div>
  
  <button class="govuk-button govuk-!-margin-right-1" (click)="submit()" i18n="@@camera_working_btn_continue" id="continue" type="button">Continue</button>
  <button class="govuk-button hmcts-button--secondary" (click)="checkEquipment()" i18n="@@camera_working_btn_check_my_equipment" id="checkYourEquipment" type="button">Check my equipment again</button>
</form>

<app-contact-us></app-contact-us>
