.mb-10 {
  margin-bottom: 10px;
}

.textarea-top-margin {
  margin-top: 10px;
}

/* Ensures space below footer on small pages has same colour */

.govuk-template {
  background-color: #dee0e2;
}

/* Margin classes */

.mt-20 {
  margin-top: 20px;
}

.steps-style {
  text-align: right;
  padding-top: 10px;
}

.right-align {
  float: right;
}

.mb-20 {
  margin-bottom: 20px;
}

.image {
  margin-left: 50px;
  margin-top: 10px;
}

.title {
  margin-left: 20px;
  margin-top: 10px;
}

.imageCourt {
  margin-top: 45px;
  margin-left: 50px;
}

.imageTelephone {
  margin-top: 50px;
  margin-left: 50px;
}

.imageVideo {
  margin-top: 55px;
  margin-left: 50px;
}

.vh-page-min-height {
  min-height: 580px;
}

.vh-text-width {
  width: 100%;
}

.mt-45 {
  margin-top: 45px;
}

.mt--30 {
  margin-top: -30px;
}

.pt-30 {
  padding-top: 30px;
}

.mb-0 {
  margin-bottom: 0px;
}

.ml-15 {
  margin-left: 15px;
}

.link-font {
  font-size: 1.1875rem;
}

.vh-border {
  padding-left: 20px;
  margin-left: 17px;
  border-left: 5px solid #cccccc;
}

.vh-left {
  margin-left: 13px;
}

body:focus {
  outline: none;
}

.mb-2 {
  margin-bottom: 2px;
}