@import "node_modules/bootstrap/dist/css/bootstrap.css";
@import "node_modules/govuk-frontend/all";
@import "node_modules/@hmcts/frontend/all";

/* Extend default tags with govuk-typography classes */
h1 {
    @extend .govuk-heading-xl
}

h2 { 
    @extend .govuk-heading-l
}

h3 {
    @extend .govuk-heading-m
}

h4 {
    @extend .govuk-heading-s
}

p {
    @extend .govuk-body
}

a {
  text-decoration:underline;
}

.vh-top-30{
margin-top:30px;
}

[disabled='disabled'].hmcts-button--secondary,
[disabled].hmcts-button--secondary
{
  background-color: #d3d4d5;
}
.vh-header__link 
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14285714;
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0;
    border: 0;
    color: #ffffff;
    background: none;
}

.vh-hide-h1 {
  font-size: 0;
  width: 1px;
  height: 1px;
  display: inline-block;
  overflow: hidden;
  position: absolute !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0 !important;
  clip: rect(1px,1px,1px,1px);
}




