@import "node_modules/bootstrap/dist/css/bootstrap.css";
@import "node_modules/govuk-frontend/all";
@import "node_modules/@hmcts/frontend/all";

/* Extend default tags with govuk-typography classes */
h1 {
    @extend .govuk-heading-xl
}

h2 { 
    @extend .govuk-heading-l
}

h3 {
    @extend .govuk-heading-m
}

h4 {
    @extend .govuk-heading-s
}

p {
    @extend .govuk-body
}

a {
  text-decoration:underline;
}

.vh-top-30{
margin-top:30px;
}

.vh-top-20 {
  margin-top: 20px;
}

[disabled='disabled'].hmcts-button--secondary,
[disabled].hmcts-button--secondary
{
  background-color: #d3d4d5;
}
.vh-header__link 
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.14285714;
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0;
    border: 0;
    color: #ffffff;
    background: none;
}

.vh-button-white {
  background-color: #ffffff;
  color: #0b0b0b;
  margin-top: 12px;
  margin-bottom: 0px;
  padding: 7px 17px 4px 17px;
  font-size: 16px;
  font-weight: 700;
}

.vh-button-white:hover {
  background-color: #ffffff;
  color: #0b0b0b;
}



