<app-crest-blue-panel>
  <h1 class="govuk-heading-l text-white" i18n="@@aboutYouAndYourClient_h1_1">About you and your client</h1>

  <p class="govuk-body govuk-!-margin-bottom-3 text-white" i18n="@@aboutYouAndYourClient_p_1">To help the court decide
    the most suitable method for the hearing, you need to:</p>

  <h2 class="govuk-heading-s text-white" i18n="@@aboutYouAndYourClient_h2_1">Answer some questions</h2>
  <ul class="govuk-list govuk-list--bullet text-white">
    <li i18n="@@aboutYouAndYourClient_ul_1_li_1">Are there any physical, practical or other considerations the judge
      should take into account?
    </li>
    <li i18n="@@aboutYouAndYourClient_ul_1_li_2">Do you have a suitable room for you and your client to join the
      hearing?
    </li>
  </ul>
  <h2 class="govuk-heading-s text-white" i18n="@@aboutYouAndYourClient_h2_2">Test your computer</h2>
  <ul class="govuk-list govuk-list--bullet text-white">
    <li i18n="@@aboutYouAndYourClient_ul_2_li_1">Sign in on the device you’d use and test it straight away.
    </li>
    <li i18n="@@aboutYouAndYourClient_ul_2_li_2">It must be a laptop or desktop computer with a camera and microphone,
      not a mobile phone or tablet.
    </li>
  </ul>
  <p class="govuk-body govuk-!-margin-bottom-2 text-white" i18n="@@aboutYouAndYourClient_p_2">
    <strong>Please respond within 5 days so your hearing can go ahead on time.</strong></p>

  <button type="button" i18n="@@aboutYouAndYourClient_btn_next" class="govuk-button vh-button-white"
    (click)="continue()" id="continue">
    Continue
  </button>

  <p class="govuk-body text-white pt-30 mb-0" i18n="@@aboutYouAndYourClient_p_3">
    <strong>Do you need help?</strong></p>
  <p class="govuk-body govuk-!-margin-bottom-2 text-white" i18n="@@aboutYouAndYourClient_p_4">Direct dial your video
    hearings officer on <strong>0300 303 0655</strong></p>

</app-crest-blue-panel>