
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <app-back-navigation></app-back-navigation>
  </div>
 
    <div class="govuk-grid-column-one-half steps-right">
      <app-checklist-steps></app-checklist-steps>
    </div>
  </div>

<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
        <h1 class="govuk-heading-l">{{localeResources.AboutYourEquipment}}</h1>
        <p class="govuk-body">{{localeResources.WeWillUseThisInformation}}</p>
        <div>
            <div *ngFor="let check of checks" id="progressbar-list">
                <app-progressbar-basic [checkTitle]="check.checkTitle" [checkResult]="check.checkResult" [checkValue]="check.checkValue"
                    [checkError]="check.checkError">
                </app-progressbar-basic>
            </div>
        </div>

        <div *ngIf="showContinueButton" class="vh-mt25">
            <p class="govuk-body">{{localeResources.CheckEquipmentThankYou}}</p>
            <div class="vh-mt25">
                <button type="submit" id="check-equipment-continue-btn" class="govuk-button" (click)="continue()">
                    Continue
                </button>
            </div>
        </div>

        <div class="vh-mt35">
            <app-checklist-footer></app-checklist-footer>
        </div>
    </div>
</div>
<app-beforeunload></app-beforeunload>
