<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@pleaseContactUs_h1">
      Please contact us
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        It looks like you may not have the right equipment for a video hearing.
      </strong>
    </div>

    <p class="govuk-body govuk-!-margin-bottom-6">Please call us on <strong>0300 303 0655</strong> so we can provide any
      support and arrange for the hearing to be held in a courtroom if necessary.</p>

  </div>
</div>