<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@pleaseContactUs_h1">
      Please contact us
    </h1>

    <app-hearing-details-header></app-hearing-details-header>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text" i18n="@@pleaseContactUs_span_1">
        <span class="govuk-warning-text__assistive">Warning</span>
        It looks like you may not have the right equipment for a video hearing.
      </strong>
    </div>

    <p class="govuk-body govuk-!-margin-bottom-6" i18n="@@pleaseContactUs_p_1">
      Please call us on <strong>0300 303 0655</strong> so we can provide any support and arrange for the hearing to be
      held in a courtroom if necessary.
    </p>

    <app-contact-us></app-contact-us>
  </div>
</div>