<div class="govuk-grid-row vh-back-bottom">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div *ngIf="!mediaSwitchedOn">

        <div *ngIf="isIndividual">
          <div>
            <h1 class="govuk-heading-xl" i18n="@@switch_on_camera_and_microphone_h1_1">You'll need to use your camera and microphone</h1>
          </div>
          <div>
            <p class="govuk-body" i18n="@@switch_on_camera_and_microphone_p_1">
              The next video is interactive, so you'll need to use your camera and microphone.
            </p>
          </div>
          <app-show-details i18n-bind-detailsTitle="@@switch_on_camera_and_microphone_detailsTitle" bind-detailsTitle="'Why do I need to use my camera and microphone?'"
                            i18-bind-textArray="@@switch_on_camera_and_microphone_textArray" bind-textArray="['Your camera and microphone need to be switched on so you can make sure they’re working properly. Once you’ve finished the check, your camera and microphone will switch off again.']">
          </app-show-details>
        </div>

        <div *ngIf="isRepresentative">
          <div>
            <h1 class="govuk-heading-xl" i18n="@@switch_on_camera_and_microphone_h1_1">Check your camera and microphone</h1>
          </div>
          <div>
            <p class="govuk-body" i18n="@@switch_on_camera_and_microphone_p_1">
              Switch on your camera and microphone to check your equipment
            </p>
          </div>
        </div>

        <button class="govuk-button" type="button" i18n="@@switch_on_camera_and_microphone_btn_next"
                (click)="switchOnCameraAndMicrophone()" id="switch-on-media">
          Switch on
        </button>
      </div>

      <div *ngIf="mediaSwitchedOn">
        <div>
          <h1 class="govuk-heading-xl" i18n="@@switch_on_camera_and_microphone_h1_1">
            Your camera and microphone are now switched on
          </h1>
        </div>

        <div *ngIf="isIndividual">
          <p class="govuk-body" i18n="@@switch_on_camera_and_microphone_p_2">
            You're ready to watch interactive video. It will start automatically on a new page.
          </p>
          <p class="govuk-body" i18n="@@switch_on_camera_and_microphone_p_3">
            You must watch it to the end. It will only take 20 to 30 seconds.
          </p>
          <app-show-details i18n-bind-detailsTitle="@@switch_on_camera_and_microphone_detailsTitle1" bind-detailsTitle="'Why must I watch the whole video?'"
                            i18-bind-textArray="@@switch_on_camera_and_microphone_textArray1" bind-textArray="['During the video, the system tests the strength of your internet connection. This checks it\'s strong enough for a video hearing.']">
          </app-show-details>
        </div>

        <div *ngIf="isRepresentative">
          <p class="govuk-body" i18n="@@switch_on_camera_and_microphone_p_2">
            Your camera and microphone are now switched on. You can go ahead and check they are working properly.
          </p>
        </div>
          
        <button type="button" i18n="@@switch_on_camera_and_microphone_btn_watchVideo" class="govuk-button hmcts-button--primary" (click)="continue()" id="continue">
          {{ isRepresentative ? 'Test equipment' : 'Watch the video' }}
        </button>
      </div>
      <app-contact-us></app-contact-us>
    </div>
  </div>
</div>
