<div id="printDoc" #printDoc>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        {{localeResources.Guidance.GuidanceTitle}}
      </h1>
      <p class="govuk-body">{{localeResources.Guidance.Paragraph}}</p>
      <h1 class="govuk-heading-m">{{localeResources.Guidance.Contents}}</h1>

      <div *ngFor="let ct of contentIndex">
        <div>
          <span class="vh-line"></span>
          <a  *ngIf="!toPrint" class="govuk-link govuk-heading-s vh-block"
             href="javascript:void()" alt="link to guidance index"
             (click)="showSection(ct.Index)">{{ct.Name}}</a>
          <a *ngIf="toPrint" class="govuk-link govuk-heading-s vh-block"
             href="javascript:void()" alt="link to guidance index">{{ct.Name}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <hr />
      <div *ngFor="let ctext of contentIndex">
        <div *ngIf="ctext.IsActive || toPrint">

          <h1 class="govuk-heading-m">{{ctext.Name}}</h1>
          <div *ngFor="let textItem of ctext.ContentText">
            <p class="govuk-body">{{textItem}}</p>
          </div>

          <p class="govuk-body">{{ctext.ListTitle}}</p>
          <div *ngFor="let listItem of ctext.ListItems">
            <ul class="govuk-list govuk-list--bullet">
              <li>{{listItem}}</li>
            </ul>

          </div>
          <hr />
        </div>
      </div>

      <div class="vh-mt30" id="contentPoint" #contentPoint *ngIf="!toPrint">
        <span>
          <img src="/assets/images/printer.png" width="40" height="40" alt="Print this" />
          <a   [href]="['/guidance/print']"
             target="_blank" class="govuk-link govuk-heading-s vh-block vh-ml8"> {{localeResources.Guidance.PrintGuide}}</a>
        </span>
      </div>
    </div>
  </div>
</div>
