<table class="govuk-table vh-fullwidth" *ngIf="loaded">
  <tbody class="govuk-table__body ">
    <tr class="govuk-table__row vh-panel">
      <td class="govuk-table__cell">
        <div>
          <span class="vh-ml5">
            <strong>{{ caseName }}</strong>
          </span>
        </div>
        <div>
          <span class="vh-ml5">
            ({{ caseType }}) {{ caseNumber }}
          </span>
        </div>
      </td>
      <td class="govuk-table__cell" style="text-align:right;">
        <div>
          <span class="vh-mr5">
            <strong>{{ scheduledDateTime | appLongDate }}</strong>
          </span>
        </div>
        <div>
          <span class="vh-mr5">
            <strong>{{ scheduledDateTime | date:'shortTime' }}</strong>
          </span>
        </div>
      </td>
    </tr>
  </tbody>
</table>