<div class="mt-45">
  <h1 class="govuk-heading-xl" i18n="@@thankYou_h1">
    Thank you
  </h1>
</div>
<div>
  <p class="govuk-body" id="scheduledDateTime" i18n="@@thankYou_p_1">
    Your hearing is due to take place on
    <strong>{{ hearingDate | appLongDatetime }}.</strong>
  </p>

  <p class="govuk-body" i18n="@@thankYou_p_2">We’ve received your answers. This is what happens next:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li i18n="@@thankYou_listItem_1">the other participants need to respond</li>

    <li i18n="@@thankYou_listItem_2">
      the court or tribunal will then decide if the hearing will take place by video or in a court building or tribunal hearing centre
    </li>

    <li i18n="@@thankYou_listItem_3">
      you’ll receive an email confirming this decision at least 7 days before the hearing
    </li>
  </ul>

  <p class="govuk-body govuk-!-margin-bottom-6" i18n="@@thankYou_p_3">
    We may phone you if we need more information. If you have any questions, please contact us.
  </p>
</div>

<app-contact-us></app-contact-us>
