<div class="govuk-phase-banner mt--30">
  <p class="govuk-phase-banner__content" i18n="@@thankYou_p_0"><strong
      class="govuk-tag govuk-phase-banner__content__tag">
      feedback
    </strong>
    <span class="govuk-phase-banner__text" i18n="@@thankYou_span_1">
      This is a new service – your <a class="govuk-link" target="_blank"
        href="http://www.smartsurvey.co.uk/s/VHDSES/">feedback</a> will help us to improve it.
    </span>
  </p>
</div>
<div class="mt-45">
  <h1 class="govuk-heading-xl" i18n="@@thankYou_h1">
    Thank you
  </h1>
</div>
<div>
  <p class="govuk-body" i18n="@@thankYou_p_1">We’ve received your answers.</p>

  <p class="govuk-body" i18n="@@thankYou_p_2">Your hearing is due to take place on
    <strong>{{ hearingDate | appLongDatetime }}.</strong></p>

  <p class="govuk-body" i18n="@@thankYou_p_3">We’ll contact you by email to let you know if the court has decided that
    the hearing should take place in a court building or by video. We may phone you if we need more information.</p>

  <p class="govuk-body govuk-!-padding-bottom-9" i18n="@@thankYou_p_4">The court needs to hear back from all
    participants before it can decide.
    If you have any questions before then, please contact us.</p>
</div>

<app-contact-us></app-contact-us>