<div>
  <h1 class="govuk-heading-xl" i18n="@@aboutYourComputer_h1">
    About your computer
  </h1>
</div>
<div>
    <button class="govuk-button" (click)="yes()" i18n="@@aboutYourComputer_btn_yes" type="button">yes</button>
    <button class="govuk-button" (click)="no()" i18n="@@aboutYourComputer_btn_no" type="button">no</button>
    <button class="govuk-button" (click)="notsure()" i18n="@@aboutYourComputer_btn_notSure" type="button">not sure</button>
    <br />
  <button class="govuk-button" (click)="continue()" i18n="@@journey_btn_continue" id="continue" type="button">Continue</button>
</div>
