<div>
  <h1 class="govuk-heading-xl" i18n="@@aboutYourComputer_H1">
    About your computer
  </h1>
</div>
<div>
    <input class="govuk-button" (click)="yes()" value="yes" i18n-value="@@aboutYourComputer_btn_yes" type="submit" />
    <input class="govuk-button" (click)="no()" value="no" i18n-value="@@aboutYourComputer_btn_no" type="submit" />
    <input class="govuk-button" (click)="notsure()" value="not sure" i18n-value="@@aboutYourComputer_btn_notSure" type="submit" />
    <br />
  <input class="govuk-button" (click)="continue()" value="Continue" i18n-value="@@aboutYourComputer_btn_continue" type="button" />
</div>
