<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <system.web>
        <httpRuntime enableVersionHeader="false" />
    </system.web>
    <system.webServer>
        <security>
            <requestFiltering removeServerHeader="true" />
        </security>
        <httpProtocol>
            <customHeaders>
              <add name="Content-Security-Policy" value="default-src 'self'; style-src https://fonts.googleapis.com https://fonts.gstatic.com 'unsafe-inline' 'self'; script-src 'self' 'unsafe-inline' 'unsafe-eval' https://*.msecnd.net/; font-src 'self' https://fonts.gstatic.com data:; img-src 'self' data:; connect-src 'self' https://www.bing.com https://*.visualstudio.com https://*.self-test.hearings.hmcts.net; media-src 'self' https://*.blob.core.windows.net" />
            <remove name="X-Powered-By" />
            </customHeaders>
        </httpProtocol>
        <rewrite>
          <outboundRules>
            <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
              <match serverVariable="RESPONSE_Strict_Transport_Security"
                     pattern=".*" />
              <conditions>
                <add input="{HTTPS}" pattern="on" ignoreCase="true" />
              </conditions>
              <action type="Rewrite" value="max-age=31536000; includeSubDomains" />
            </rule>
          </outboundRules>
        </rewrite>
    </system.webServer>
</configuration>
