<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@appointedABarrister_rep_h1">
      Appointed a barrister?
    </h1>
    <div>
      <app-hearing-details-header></app-hearing-details-header>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div id="form-container" [ngClass]="isFormInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">
        <div class="govuk-fieldset">
          <div *ngIf="isFormInvalid">
            <span class="govuk-error-message" id="error-message" i18n="@@appointingABarrister_rep_span_1">
              Please answer this question
            </span>
          </div>

          <div class="govuk-form-group">
            <div class="govuk-fieldset fieldset-margin">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input formControlName="choice" class="govuk-radios__input" id="i-am-barrister" type="radio"
                         [value]="appointingBarrister.IAmAppointedBarrister">
                  <label class="govuk-label govuk-radios__label" for="i-am-barrister"
                         i18n="@@appointingABarrister_rep_label_1">
                    I am the appointed barrister
                  </label>
                </div>

                <div class="govuk-radios__item">
                  <input formControlName="choice" class="govuk-radios__input" id="barrister-will-appointed" type="radio"
                         [value]="appointingBarrister.BarristerWillBeAppointed">
                  <label class="govuk-label govuk-radios__label" for="barrister-will-appointed" i18n="@@appointingABarrister_rep_label_2">
                    A barrister has been/will be appointed
                  </label>
                </div>
                <div *ngIf="showBarristerDetails" class="govuk-radios__conditional govuk-!-margin-bottom-3 pt-3">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="barristerName">
                      Barrister's full name
                    </label>
                    <input id="barristerName" formControlName="barristerName" class="govuk-input govuk-input--width-20" type="text" />
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="barristerChambers">
                      Barrister's chambers
                    </label>
                    <input id="barristerChambers" formControlName="barristerChambers" class="govuk-input govuk-input--width-20" type="text" />
                  </div>
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="barristerEmail">
                      Barrister's email
                    </label>
                    <input id="barristerEmail" formControlName="barristerEmail" class="govuk-input govuk-input--width-20" type="text" />
                  </div>
                </div>

                <div class="govuk-radios__item">
                  <input formControlName="choice" class="govuk-radios__input" id="barrister-not-appointed" type="radio"
                         [value]="appointingBarrister.BarristerWillNotBeAppointed">
                  <label class="govuk-label govuk-radios__label" for="barrister-not-appointed" i18n="@@appointingABarrister_rep_label_3">
                    A barrister will not be appointed
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="vh-top-20">
        <button class="govuk-button" (click)="submit()" i18n="@@appointingABarrister_rep_journey_btn_continue" id="continue"
                type="button">
          Continue
        </button>
      </div>
    </form>
    <app-contact-us></app-contact-us>

  </div>
</div>

