<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l" id="unsupported">Unsupported browser</h2>
    <p class="govuk-body">
      You're using a browser that is not supported by the Video Hearings service.
    </p>
    <div>
      <p class="govuk-body">Please try again using one of the browsers listed below. If you are still having problems, please contact the video hearings team.</p>

      <ul class="govuk-list">
        <li *ngFor="let browser of supportedBrowsers">

          <div class="govuk-grid-column-full">

            <div class="govuk-grid-row">
              <div class="govuk-grid-column-one-quarter" style="padding: 5px; width: 6%">
                <img src="{{browser.iconPath}}" height="48" width="48" class="govuk-!-margin-right-2"
                  alt="{{browser.name}} browser logo" />
              </div>

              <div class="govuk-grid-column-three-quarters" style="padding-top: 15px;">
                <p>{{browser.displayName}}</p>
              </div>
            </div>

          </div>

        </li>
      </ul>

    </div>
  </div>
</div>