<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <app-back-navigation></app-back-navigation>
  </div>
  <div class="govuk-grid-column-one-half">
    <app-checklist-steps></app-checklist-steps>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">{{localeResources.AboutYouAndYourClient}}</h1>

    <form [formGroup]="needInterpreterForm" class="govuk-form-group" (ngSubmit)="continue()">
      <div [ngClass]="needInterpreterForm.invalid && needInterpreterCheck ? 'govuk-form-group--error' : 'govuk-form-group'">
        <fieldset class="govuk-fieldset" aria-describedby="needInterpreter-hint needInterpreter-error">
          <div *ngIf="needInterpreterForm.invalid && needInterpreterCheck">
            <span id="needInterpreter-error" class="govuk-error-message">
              {{localeResources.PleaseAnswerThisQuestion}}
            </span>
          </div>
          <p class="govuk-body govuk-!-margin-bottom-6">
            {{localeResources.WillYourClientNeedInterpreter}}
          </p>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset fieldset-margin">
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="needInterpreter_yes" name="needInterpreter" type="radio" value="Yes"
                    formControlName="needInterpreter">
                  <label class="govuk-label govuk-radios__label" for="needInterpreter-yes">
                    <strong>{{localeResources.Yes}}</strong>
                  </label>

                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="needInterpreter_no" name="needInterpreter" type="radio" value="No"
                    formControlName="needInterpreter">
                  <label class="govuk-label govuk-radios__label" for="needInterpreter-no">
                    <strong>{{localeResources.No}}</strong>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </fieldset>
      </div>
      <div class="mt-20">
        <input class="govuk-button" type="button" value="{{buttonAction}}" (click)="continue()">
      </div>
    </form>

  </div>
</div>

<app-checklist-footer></app-checklist-footer>
