.vh-note {
  border: 1px solid #d9d9d9 !important;
}

.vh-border {
  padding-left: 20px;
  margin-left: 15px;
  border-left: 10px solid #cccccc;
}

.vh-border-err {
  padding-left: 20px;
  margin-left: 15px;
  border-left: 10px solid #d4351c;
}

.vh-p10{
  padding-bottom:10px !important;
  padding-top:10px !important;
}

.vh-m15{
  margin-top:15px !important;
}

.vh-bold{
  font-weight:600;
}

.vh-b{
  padding-bottom:0 !important;
  margin-bottom:0 !important;
}
