<div class="govuk-grid-row vh-back-bottom">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@consent_h1">
      Your consent for a video hearing
    </h1>

    <form [formGroup]="form" (ngSubmit)="submit()">

      <div id="form-container" [ngClass]="isFormInvalid && !textInputNo.invalid ? 'govuk-form-group--error' : 'govuk-form-group'">
        <div class="govuk-fieldset">
          <div *ngIf="isFormInvalid  && !textInputNo.invalid">
            <span class="govuk-error-message" i18n="@@consent_span_1">
              Please answer this question
            </span>
          </div>

          <p class="govuk-body govuk-!-margin-bottom-6" i18n="@@consent_p_1">
            As you'd be using your own computer and room, we'd like to find out if you would be happy to do this.
          </p>

          <p class="govuk-body govuk-!-margin-bottom-6" i18n="@@consent_p_2">
            Would you be content to take part in your hearing by video?
          </p>

          <div class="govuk-form-group">
            <div class="govuk-fieldset fieldset-margin">
              <div class="govuk-radios">

                <div class="govuk-radios__item">
                  <input formControlName="choice" class="govuk-radios__input" id="choice-yes" type="radio"
                         [value]="true">
                  <label class="govuk-label govuk-radios__label" for="choice-yes" i18n="@@consent_label_1">
                    Yes
                  </label>
                </div>

                <div class="govuk-radios__item ">
                  <input formControlName="choice" class="govuk-radios__input" id="choice-no" type="radio"
                         [value]="false">
                  <label class="govuk-label govuk-radios__label" for="choice-no" i18n="@@consent_label_2">
                    No
                  </label>
                </div>

                <div [ngClass]="isTextInputNoInvalid ? 'vh-radios__conditional--error' : 'govuk-radios__conditional'">
                  <div class="form-group textarea-top-margin govuk-form-group" *ngIf="noSelected">
                    <div>
                      
                        <label class="govuk-body" i18n="@@consent_span_2" id="please-tell-us-why">
                          Please tell us why
                        </label>
                      
                      <span class="govuk-hint" i18n="@@consent_span_3">
                        To help the court decide the type of hearing you'll have, it would help to understand the reasons behind your answer.
                        The reasons you give will not affect the result of your case.
                      </span>

                    </div>

                    <div *ngIf="isTextInputNoInvalid">
                      <span class="govuk-error-message" i18n="@@consent_span_4">
                        Please type in this box
                      </span>
                    </div>
                    <textarea formControlName="textInputNo" id="details-no" rows="5" cols="80"
                              [ngClass]="isTextInputNoInvalid ? 'govuk-textarea--error' : 'govuk-textarea'"
                              aria-describedby="please-tell-us-why"
                              aria-label="text to understand the reason for answer">
                        </textarea>

                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-20">
        <button class="govuk-button" (click)="submit()" i18n="@@consent_btn_continue" id="continue"
                type="button">
          Save and Continue
        </button>
      </div>
    </form>
    <app-contact-us></app-contact-us>
  </div>
</div>

