<div class="govuk-grid-row vh-back-bottom">
  <div class="govuk-grid-column-full">
    <app-back-navigation></app-back-navigation>
  </div>
</div>
<div>
  <h1 class="govuk-heading-xl" i18n="@@yourComputer_h1">
    Your computer
  </h1>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div id="form-container" class="govuk-form-group"
    [ngClass]="isFormInvalid ? 'govuk-form-group--error' : 'govuk-form-group'">

    <span id="error-message" class="govuk-error-message" *ngIf="isFormInvalid"  i18n="@@yourComputer_span_1">
      Please answer this question
    </span>

    <div>
      <p class="govuk-body" i18n="@@yourComputer_p_1">Your hearing is due to take place on <strong>{{ hearingDate | appLongDatetime }}.</strong>
      </p>
      <p class="govuk-body" i18n="@@yourComputer_p_2">At this time, will you have access to a laptop or desktop computer (not a mobile, not a
        tablet)?</p>
    </div>

    <div class="govuk-fieldset">
      <div class="govuk-radios" data-module="radios">
        <div class="govuk-radios__item">
          <input formControlName="choice" class="govuk-radios__input" id="choice-yes" type="radio" [value]="true"
            data-aria-controls="conditional-how-contacted-conditional">
          <label class="govuk-label govuk-radios__label" for="choice-yes" i18n="@@yourComputer_choice_yes">
            Yes
          </label>
        </div>

        <div class="govuk-radios__item">
          <input formControlName="choice" class="govuk-radios__input" id="choice-no" type="radio" [value]="false"
            data-aria-controls="conditional-how-contacted">
          <label class="govuk-label govuk-radios__label" for="choice-no" i18n="@@yourComputer_choice_no">
            No
          </label>
        </div>

      </div>
    </div>
  </div>

  <app-show-details i18n-bind-detailsTitle="@@yourComputer_detailsTitle"
    bind-detailsTitle="'If I have access to a computer, will the court definitely decide on a video hearing?'"
    i18-bind-textArray="@@yourComputer_textArray"
    bind-textArray="['No. The court will take other things into account. It will look at the information you’ve provided in this questionnaire and the information provided by the other people taking part in the hearing. A video hearing has to be suitable for all participants.']">
  </app-show-details>

  <app-show-details i18n-bind-detailsTitle="@@yourComputer_detailsTitle"
    bind-detailsTitle="'What if my computer is old or doesn’t work properly?'"
    i18-bind-textArray="@@yourComputer_textArray"
    bind-textArray="['Don’t worry. You’ll have the chance to check that a video hearing will work on your computer. You can do this by watching a short video and confirming how well you could see and hear. This check is very simple and you don’t need to be an experienced computer user to do it.']">
  </app-show-details>

  <button class="govuk-button" (click)="submit()" i18n="@@yourComputer_btn_continue" id="continue"
    type="button">Continue</button>
</form>
<app-contact-us></app-contact-us>
