<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl" i18n="@@hearingSuitability_h1">
        Hearing suitability
      </h1>
      <div>
        <app-hearing-details-header></app-hearing-details-header>
      </div>
      <app-choice-textbox [suitabilityAnswer]="journey.model.hearingSuitability" (submitted)="journey.next()">
        <p class="govuk-body govuk-!-margin-bottom-5" i18n="@@hearingSuitability_p_1">Based on your knowledge of this
          case and your client, do you believe there is anything that makes this hearing unsuitable for video? For
          example:
        </p>

        <ul class="govuk-list govuk-list--bullet">
          <li i18n="@@hearingSuitability_ul_li_1">the case may be particularly complex</li>
          <li i18n="@@hearingSuitability_ul_li_2">those present may be required to consult many physical documents
            during the hearing</li>
          <li i18n="@@hearingSuitability_ul_li_3">someone else may be attending on your behalf</li>
          <li i18n="@@hearingSuitability_ul_li_4">there may be something else you wish to draw to the court’s
            attention</li>
        </ul>
      </app-choice-textbox>
      <app-contact-us></app-contact-us>
    </div>
  </div>