<div class="govuk-width-container">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
    <div>
    <h1 class="govuk-heading-xl" i18n="@@exploreCourtBuilding_h1">
      Hearings held in a court or tribunal building
    </h1>
  </div>
  <div>
    <p class="govuk-body" id="message1" i18n="@@exploreCourtBuilding_p">
      The short video on the next screen explains how hearings are conducted in a court or tribunal building.
      </p>
  </div>
  <div>
      <input class="govuk-button" id="continue" (click)="continue()" value="Play the video" i18n-value="@@exploreCourtBuilding_btn_continue" type="button" />
  </div>
  <app-contact-us></app-contact-us>
  </div>
  </div>
</div>