<div>
  <a href="#main-content" class="govuk-skip-link" i18n="@@app_a">Skip to main content</a>

  <app-header [loggedIn]="loggedIn"></app-header>

  <div class="govuk-width-container vh-content">
    <main class="govuk-main-wrapper" id="main-content" role="main"><div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content"><strong class="govuk-tag govuk-phase-banner__content__tag ">
        beta
      </strong>
          <span class="govuk-phase-banner__text">
            This is a new service – your <a class="govuk-link" href="https://www.smartsurvey.co.uk/s/VideoHearings_Feedback/?pageurl={{pageUrl}}">feedback</a> will help us to improve it.
          </span>
        </p>
      </div>

      <router-outlet *ngIf="initialized"></router-outlet>
    </main>
  </div>
</div>
<div>
  <app-footer></app-footer>
</div>
