<div>
  <div role="navigation">
    <a href="javascript:void(0)" class="govuk-skip-link" i18n="@@app_a" (click)="skipToContent()">Skip to main content</a>
  </div>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />

  <app-header [loggedIn]="loggedIn"></app-header>

  <div class="govuk-width-container ">
    <main #mainContent class="govuk-main-wrapper" id="main-content" role="main" tabindex="-1">
     <app-beta-banner></app-beta-banner>
     <router-outlet *ngIf="initialized"></router-outlet>
    </main>
  </div>
  <app-footer></app-footer>
</div>
