<app-crest-blue-panel>
  <h1 class="govuk-heading-l text-white" i18n="@@yourVideoHearing_h1_1">Your video hearing</h1>

  <p class="govuk-body  text-white" i18n="@@yourVideoHearing_p_1">
    You're due to take part in a video
    hearing soon. Everyone, including the judge,
    will join the hearing by video using a laptop or desktop computer.
    You won't need to travel to court.
  </p>
  <p class="govuk-body govuk-!-margin-bottom-9 text-white" i18n="@@yourVideoHearing_p_2">
    We'll now ask a few short questions and help you check your computer equipment.
  </p>

  <!--Commented the below line as the page in the href not available-->
  <!--<a href="https://www.gov.uk/guidance/hmcts-video-hearings-guidance-for-legal-professionals" class="govuk-link govuk-body govuk-!-margin-bottom-9 text-white" i18n="@@yourVideoHearing_a_1">Find out more about video hearings</a>-->

  <div class="pt-30">
    <button type="button" i18n="@@yourVideoHearing_btn_continue" class="govuk-button govuk-button--secondary" (click)="continue()"
            id="continue">
      Continue
    </button>
  </div>

  <p class="govuk-body text-white pt-30 mb-0" i18n="@@yourVideoHearing_p_3">
    <strong>Do you need help?</strong>
  </p>
  <p class="govuk-body govuk-!-margin-bottom-2 text-white" i18n="@@yourVideoHearing_p_4">
    Call the video hearings
    team on <strong>0300 303 0655</strong>
  </p>
</app-crest-blue-panel>
