<div class="mt-45">
    <h1 class="govuk-heading-xl" i18n="@@thankYouRep_h1">Thank you</h1>
</div>

<app-hearing-details-header></app-hearing-details-header>

<div>
    <p class="govuk-body" id="scheduledDateTime" i18n="@@thankYouRep_p_1">
        Your hearing is due to take place on
        <strong>{{ hearingDate | appLongDatetime }}.</strong>
    </p>

    <p class="govuk-body" i18n="@@thankYouRep_p_2">This is what happens next:</p>

    <ul class="govuk-list govuk-list--bullet">
        <li i18n="@@thankYouRep_listItem_1">the other participants need to respond</li>

        <li i18n="@@thankYouRep_listItem_2">
            the court or tribunal will then decide if the hearing will take place by video, or in a court building or tribunal hearing
            centre
        </li>

        <li i18n="@@thankYouRep_listItem_3">you’ll receive an email confirming this decision at least 7 days before the hearing</li>
    </ul>
</div>

<app-contact-us></app-contact-us>
