<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl" i18n="@@thankYouRep_h1">
      Thank you
    </h1>

    <app-hearing-details-header></app-hearing-details-header>

    <p class="govuk-body govuk-!-margin-bottom-6" i18n="@@thankYouRep_p_1">
      We’ll contact you soon to let you know whether the judge has decided this hearing will use the video service or
      take place in court.
    </p>

    <app-contact-us></app-contact-us>
  </div>
</div>