<div class="mt-45">
  <h1 class="govuk-heading-xl" i18n="@@thankYou_h1">
    Thank you
  </h1>
</div>
<div>
  <p class="govuk-body" i18n="@@thankYou_p_1">We’ve received your answers.</p>

  <p class="govuk-body" i18n="@@thankYou_p_2">Your hearing is due to take place on
    <strong>{{ hearingDate | appLongDatetime }}.</strong></p>

  <p class="govuk-body" i18n="@@thankYou_p_3">We’ll contact you by email to let you know if the court has decided that
    the hearing should take place in a court building or by video. We may phone you if we need more information.</p>

  <p class="govuk-body govuk-!-padding-bottom-9" i18n="@@thankYou_p_4">The court needs to hear back from all
    participants before it can decide.
    If you have any questions before then, please contact us.</p>
</div>