<div class="govuk-heading-s vh-mt20">{{checkTitle}}</div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half vh-top">
    <ngb-progressbar name="check-equipment-progressbar" id="check-equipment-progressbar" type="default" [value]="checkValue"></ngb-progressbar>
  </div>
  <div class="govuk-grid-column-one-half">
    <span *ngIf="!checkError" id="check-equpment-result" class="govuk-body vh-bold">{{checkResult}}</span>
    <span *ngIf="checkError" id="check-equpment-result-error" class="govuk-body vh-red vh-bold">
      <img rel="error red exclamation mark" src="../../../assets/images/be-aware-red.png" width="30"
           height="30" />
      {{checkResult}}
    </span>
  </div>

</div>
<div class="govuk-grid-row" *ngIf="checkError">
  <div class="govuk-grid-column-full">
    <div class="govuk-form-group govuk-form-group--error">
      <span id="result-error" class="govuk-error-message">
        {{checkError}}
      </span>
    </div>
  </div>
</div>
