<app-back-navigation></app-back-navigation>
<form #userForm="ngForm" (ngSubmit)="submitConsent()" novalidate>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">Your consent for a video hearing</h1>

            <div [ngClass]="{'govuk-form-group--error mb-10': userForm.form.invalid && submitted}">

                <div *ngIf="consent.invalid && submitted" class="alert alert-danger">
                    <span id="videoHearingConsent-error" class="govuk-error-message">
                        Please answer this question
                    </span>
                </div>

                <div *ngIf="model.videoHearingConsent === 'no' && isReasonInvalid" class="alert alert-danger">
                    <span id="novideoHearingConsent-error" class="govuk-error-message">
                        Please tell us why you do not agree to take part in the hearing by video
                    </span>
                </div>

                <div class="form-group column-half">
                    <fieldset class="govuk-fieldset" aria-describedby="videohearing-consent-hint">

                        <p class="govuk-body govuk-!-margin-bottom-5">
                            If the court decides that a video hearing is suitable for you, do you
                            agree to take part in the hearing by video?
                        </p>

                        <div class="govuk-form-group">
                            <fieldset class="govuk-fieldset">
                                <div class="govuk-radios">
                                    <div class="govuk-radios__item">
                                        <input id="videoHearingConsent-1" class="govuk-radios__input" name="videoHearingConsent"
                                            type="radio" value="yes" #consent="ngModel" [(ngModel)]="model.videoHearingConsent"
                                            required>
                                        <label class="govuk-label govuk-radios__label" for="videoHearingConsent-1">
                                            Yes
                                        </label>
                                    </div>
                                    <div class="govuk-radios__item">
                                        <input id="videoHearingConsent-2" class="govuk-radios__input" name="videoHearingConsent"
                                            type="radio" value="no" #consent="ngModel" [(ngModel)]="model.videoHearingConsent"
                                            required>
                                        <label class="govuk-label govuk-radios__label" for="videoHearingConsent-2">
                                            No
                                            <div class="form-group textarea-top-margin" *ngIf="model.videoHearingConsent === 'no'">
                                                <label class="govuk-label" for="more-detail">
                                                    Please tell us why
                                                </label>
                                                <textarea class="govuk-textarea" id="videoHearingReason" name="videoHearingReason"
                                                    rows="5" cols="80" #reason="ngModel" aria-describedby="more-detail-hint"
                                                    [(ngModel)]="model.videoHearingReason" required></textarea>
                                            </div>
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>

    <input class="govuk-button" type="submit" value="Submit">
</form>

<app-checklist-footer></app-checklist-footer>
<app-beforeunload></app-beforeunload>
