<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <app-back-navigation></app-back-navigation>
  </div>
  <div class="govuk-grid-column-one-half">
    <app-checklist-steps></app-checklist-steps>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">{{localeResources.AboutYou}}</h1>
    <p class="govuk-body govuk-!-margin-bottom-6">
      {{localeResources.IsThereAnythingCitizen}}
    </p>
    <form [formGroup]="makeTheCourtAwareForm" class="govuk-form-group" (ngSubmit)="continue()">

      <div [ngClass]="makeTheCourtAwareForm.invalid && courtAwareCheck ? 'govuk-form-group--error' : 'govuk-form-group'">
        <fieldset class="govuk-fieldset" aria-describedby="courtAware-hint courtAware-error">
          <div *ngIf="makeTheCourtAwareForm.invalid && courtAwareCheck">
            <span id="courtAware-error" class="govuk-error-message">
              {{localeResources.PleaseAnswerThisQuestion}}
            </span>
          </div>

          <p class="govuk-body govuk-!-margin-bottom-1">
            {{localeResources.ForExample.Heading}}
          </p>

          <ul class="govuk-list govuk-list--bullet">
            <li>{{localeResources.ForExampleCitizen.Example1}}</li>
            <li>{{localeResources.ForExampleCitizen.Example2}}</li>
            <li>{{localeResources.ForExampleCitizen.Example3}}</li>
            <li>{{localeResources.ForExampleCitizen.Example4}}</li>
          </ul>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset fieldset-margin">
              <div class="govuk-radios">
                <div class="govuk-radios__item govuk-grid-column-two-thirds">
                  <input class="govuk-radios__input" id="courtAware_yes" name="courtAware" type="radio" value="Yes"
                         formControlName="courtAware">
                  <label class="govuk-label govuk-radios__label" for="courtAware-yes">
                    <strong>{{localeResources.Yes}}</strong>
                  </label>
                  <div class="form-group textarea-top-margin" *ngIf="selectedAnswer === 'Yes'"
                       [ngClass]="makeTheCourtAwareForm.invalid && courtAwareCheck && !ProvideMoreInfo ? 'govuk-form-group--error' : 'govuk-form-group'">
                    <span id="courtAware-error" class="" [ngClass]="makeTheCourtAwareForm.invalid && courtAwareCheck && !ProvideMoreInfo ? 'govuk-error-message' : 'govuk-hint'">
                      {{localeResources.ProvideMoreInfo}}
                    </span>
                    <textarea class="txtMore vh-text-width" id="moreDetails" name="moreDetails" rows="5" cols="80" formControlName="moreDetails"
                              aria-describedby="more-detail-hint" [ngClass]="makeTheCourtAwareForm.invalid && courtAwareCheck && !ProvideMoreInfo ? 'govuk-textarea--error' : 'govuk-textarea'"></textarea>
                  </div>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="courtAware_no" name="courtAware" type="radio" value="No"
                         formControlName="courtAware">
                  <label class="govuk-label govuk-radios__label" for="courtAware-no">
                    <strong> {{localeResources.No}}</strong>
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </fieldset>
      </div>

      <div class="mt-20">
        <input class="govuk-button" type="button" value="{{buttonAction}}" (click)="continue()">
      </div>

    </form>

  </div>
</div>
<app-checklist-footer [isUserProfessional]="false"></app-checklist-footer>

<app-beforeunload></app-beforeunload>
